// @import url(https://fonts.googleapis.com/css?family=Fira + Sans:400, 300italic, 300, 500, 700);
* {
    box-sizing: border-box;
}

.charts_inner__options input[type="radio"]#c-4:checked + label + .chart #four h2,
.charts_inner__options input[type="radio"]#c-3:checked + label + input + label + .chart #three h2,
.charts_inner__options input[type="radio"]#c-2:checked + label + input + label + input + label + .chart #two h2,
.charts_inner__options
    input[type="radio"]#c-1:checked
    + label
    + input
    + label
    + input
    + label
    + input
    + label
    + .chart
    #one
    h2,
.charts_inner__options input[type="radio"]#c-4:checked + label + .chart #four span,
.charts_inner__options input[type="radio"]#c-3:checked + label + input + label + .chart #three span,
.charts_inner__options input[type="radio"]#c-2:checked + label + input + label + input + label + .chart #two span,
.charts_inner__options
    input[type="radio"]#c-1:checked
    + label
    + input
    + label
    + input
    + label
    + input
    + label
    + .chart
    #one
    span {
    opacity: 1;
    top: 0px;
}
.charts_inner__options input[type="radio"]#c-4:checked + label + .chart #four i,
.charts_inner__options input[type="radio"]#c-3:checked + label + input + label + .chart #three i,
.charts_inner__options input[type="radio"]#c-2:checked + label + input + label + input + label + .chart #two i,
.charts_inner__options
    input[type="radio"]#c-1:checked
    + label
    + input
    + label
    + input
    + label
    + input
    + label
    + .chart
    #one
    i {
    opacity: 1;
    left: 0px;
    -webkit-transition: all 0.2s 0.4s;
    transition: all 0.2s 0.4s;
}
.charts_inner__options input[type="radio"]#c-4:checked + label + .chart #four h2,
.charts_inner__options input[type="radio"]#c-3:checked + label + input + label + .chart #three h2,
.charts_inner__options input[type="radio"]#c-2:checked + label + input + label + input + label + .chart #two h2,
.charts_inner__options
    input[type="radio"]#c-1:checked
    + label
    + input
    + label
    + input
    + label
    + input
    + label
    + .chart
    #one
    h2 {
    -webkit-transition: all 0.2s 0.5s;
    transition: all 0.2s 0.5s;
}
.charts_inner__options input[type="radio"]#c-4:checked + label + .chart #four span,
.charts_inner__options input[type="radio"]#c-3:checked + label + input + label + .chart #three span,
.charts_inner__options input[type="radio"]#c-2:checked + label + input + label + input + label + .chart #two span,
.charts_inner__options
    input[type="radio"]#c-1:checked
    + label
    + input
    + label
    + input
    + label
    + input
    + label
    + .chart
    #one
    span {
    -webkit-transition: all 0.2s 0.6s;
    transition: all 0.2s 0.6s;
}

//  {
//     background: #6b2346;
//     font-family: "Fira Sans", sans-serif;
//     background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/gridz.png"),
//         -moz-radial-gradient(center, ellipse cover, transparent 0%, rgba(0, 0, 0, 0.9) 100%),
//         -webkit-gradient(linear, left top, left bottom, from(#98336b), to(#a0072e));
//     background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/gridz.png"),
//         -moz-radial-gradient(center, ellipse cover, transparent 0%, rgba(0, 0, 0, 0.9) 100%),
//         linear-gradient(to bottom, #98336b 0%, #a0072e 100%);
//     height: 100vh;
//     overflow: hidden;
// }
.charts_inner {
    // position: absolute;
    // left: 0;
    // right: 0;
    width: 500px;
    // margin: auto;
    // top: 50%;
    // text-align: center;
    // -webkit-transform: translateY(-50%);
    transform: scale(0.8);
}
.charts_inner h1 {
    color: white;
    font-weight: 100;
}
.charts_inner h2 {
    color: white;
    font-weight: 100;
    font-size: 16px;
    margin: -10px 0px 60px 0px;
    color: #d04760;
}
.charts_inner__options {
    margin: 0 auto;
    width: 740px;
    text-align: center;
}
.charts_inner__options input[type="radio"] {
    display: none;
}
.charts_inner__options label {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.04), 0px -1px 0px 0px #90285d inset,
        0px -2px 0px 0px rgba(255, 255, 255, 0.14) inset;
    -webkit-transition: all 0.2s, box-shadow 0.01s;
    transition: all 0.2s, box-shadow 0.01s;
    cursor: pointer;
    display: inline-block;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cd455e), to(#8c275d));
    background-image: linear-gradient(to bottom, #cd455e 0%, #8c275d 100%);
    color: white;
    font-weight: 200;
    padding: 14px 30px;
    font-size: 14px;
    margin: 0 -4px;
}
.charts_inner__options label:nth-of-type(4) {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.charts_inner__options label:nth-of-type(1) {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.charts_inner__options label i {
    margin-right: 10px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    position: relative;
    top: 0px;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.charts_inner__options label:hover {
    color: white;
    -webkit-transition: all 0.2s, box-shadow 0.1s;
    transition: all 0.2s, box-shadow 0.1s;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#91295d), to(#751b44));
    background-image: linear-gradient(to bottom, #91295d 0%, #751b44 100%);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.04);
    z-index: -1;
}
.charts_inner__options input[type="radio"]:checked + label {
    color: white;
    -webkit-transition: all 0.2s, box-shadow 0.1s;
    transition: all 0.2s, box-shadow 0.1s;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#91295d), to(#751b44));
    background-image: linear-gradient(to bottom, #91295d 0%, #751b44 100%);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.04);
    z-index: -1;
    z-index: -1;
}
.charts_inner__options input[type="radio"]:checked + label i {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    color: #ef376c;
}
.chart .c-1 .cube .cube_inner {
    -webkit-transform: rotate(180deg) scaleY(1);
    transform: rotate(180deg) scaleY(1);
}
.charts_inner__options input[type="radio"]#c-4:checked + label + .chart .c-2 .cube .cube_inner {
    -webkit-transform: rotate(180deg) scaleY(0.75);
    transform: rotate(180deg) scaleY(0.75);
}
.charts_inner__options input[type="radio"]#c-4:checked + label + .chart .c-3 .cube .cube_inner {
    -webkit-transform: rotate(180deg) scaleY(0.3333333333);
    transform: rotate(180deg) scaleY(0.3333333333);
}
.charts_inner__options input[type="radio"]#c-4:checked + label + .chart .c-4 .cube .cube_inner {
    -webkit-transform: rotate(180deg) scaleY(0.25);
    transform: rotate(180deg) scaleY(0.25);
}
.chart .c-1 .cube .cube_inner {
    -webkit-transform: rotate(180deg) scaleY(1.5);
    transform: rotate(180deg) scaleY(1.5);
}
// .charts_inner__options input[type="radio"]#c-3:checked + label + input + label + .chart .c-1 .cube .cube_inner {
//     -webkit-transform: rotate(180deg) scaleY(0.6666666667);
//     transform: rotate(180deg) scaleY(0.6666666667);
// }
// .charts_inner__options input[type="radio"]#c-3:checked + label + input + label + .chart .c-2 .cube .cube_inner {
//     -webkit-transform: rotate(180deg) scaleY(1);
//     transform: rotate(180deg) scaleY(1);
// }
// .charts_inner__options input[type="radio"]#c-3:checked + label + input + label + .chart .c-3 .cube .cube_inner {
//     -webkit-transform: rotate(180deg) scaleY(0.5);
//     transform: rotate(180deg) scaleY(0.5);
// }
// .charts_inner__options input[type="radio"]#c-3:checked + label + input + label + .chart .c-4 .cube .cube_inner {
//     -webkit-transform: rotate(180deg) scaleY(0.3333333333);
//     transform: rotate(180deg) scaleY(0.3333333333);
// }

// .charts_inner__options
//     input[type="radio"]#c-2:checked
//     + label
//     + input
//     + label
//     + input
//     + label
//     + .chart
//     .c-1
//     .cube
//     .cube_inner {
//     -webkit-transform: rotate(180deg) scaleY(0.125);
//     transform: rotate(180deg) scaleY(0.125);
// }
// .charts_inner__options
//     input[type="radio"]#c-2:checked
//     + label
//     + input
//     + label
//     + input
//     + label
//     + .chart
//     .c-2
//     .cube
//     .cube_inner {
//     -webkit-transform: rotate(180deg) scaleY(0.4);
//     transform: rotate(180deg) scaleY(0.4);
// }
// .charts_inner__options
//     input[type="radio"]#c-2:checked
//     + label
//     + input
//     + label
//     + input
//     + label
//     + .chart
//     .c-3
//     .cube
//     .cube_inner {
//     -webkit-transform: rotate(180deg) scaleY(0.2307692308);
//     transform: rotate(180deg) scaleY(0.2307692308);
// }
// .charts_inner__options
//     input[type="radio"]#c-2:checked
//     + label
//     + input
//     + label
//     + input
//     + label
//     + .chart
//     .c-4
//     .cube
//     .cube_inner {
//     -webkit-transform: rotate(180deg) scaleY(0.5);
//     transform: rotate(180deg) scaleY(0.5);
// }
// .charts_inner__options
//     input[type="radio"]#c-1:checked
//     + label
//     + input
//     + label
//     + input
//     + label
//     + input
//     + label
//     + .chart
//     .c-1
//     .cube
//     .cube_inner {
//     -webkit-transform: rotate(180deg) scaleY(0.3333333333);
//     transform: rotate(180deg) scaleY(0.3333333333);
// }
// .charts_inner__options
//     input[type="radio"]#c-1:checked
//     + label
//     + input
//     + label
//     + input
//     + label
//     + input
//     + label
//     + .chart
//     .c-2
//     .cube
//     .cube_inner {
//     -webkit-transform: rotate(180deg) scaleY(1.5);
//     transform: rotate(180deg) scaleY(1.5);
// }
// .charts_inner__options
//     input[type="radio"]#c-1:checked
//     + label
//     + input
//     + label
//     + input
//     + label
//     + input
//     + label
//     + .chart
//     .c-3
//     .cube
//     .cube_inner {
//     -webkit-transform: rotate(180deg) scaleY(0.5);
//     transform: rotate(180deg) scaleY(0.5);
// }
// .charts_inner__options
//     input[type="radio"]#c-1:checked
//     + label
//     + input
//     + label
//     + input
//     + label
//     + input
//     + label
//     + .chart
//     .c-4
//     .cube
//     .cube_inner {
//     -webkit-transform: rotate(180deg) scaleY(0.25);
//     transform: rotate(180deg) scaleY(0.25);
// }
.charts_inner__options .chart {
    clear: both;
    padding: 60px 0px 120px 0px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 800px;
    perspective: 800px;
    overflow: hidden;
    position: relative;
}
.charts_inner__options .chart .stat_block {
    position: absolute;
    width: 100%;
    bottom: 80px;
}
.charts_inner__options .chart .cube_details {
    position: relative;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: auto;
    width: 180px;
    float: left;
    text-align: center;
    color: white;
    text-align: left;
    font-size: 20px;
}
.charts_inner__options .chart .cube_details h2 {
    color: #d04760;
    font-weight: 100;
    font-size: 13px;
    text-align: left;
    margin: 0;
    position: relative;
    top: 4px;
    opacity: 0;
    -webkit-transition: all 0.2s 0.1s;
    transition: all 0.2s 0.1s;
}
.charts_inner__options .chart .cube_details span {
    position: relative;
    top: 4px;
    opacity: 0;
    -webkit-transition: all 0.2s 0.2s;
    transition: all 0.2s 0.2s;
}
.charts_inner__options .chart .cube_details__icon {
    float: left;
    font-size: 32px;
    margin-right: 14px;
    margin-left: 18px;
}
.charts_inner__options .chart .cube_details__icon i {
    position: relative;
    -webkit-transition: all 0.2s 0.1s;
    transition: all 0.2s 0.1s;
    left: -4px;
    opacity: 0;
    top: 4px;
}
.charts_inner__options .chart .cube_details__stat {
    float: left;
}
.charts_inner__options .chart_item {
    width: 180px;
    padding: 30px;
    height: 200px;
    float: left;
    position: relative;
}
.charts_inner__options .chart_item .cube_inner {
    width: 100px;
    -webkit-transition: all 0.45s cubic-bezier(0.36, 1.64, 0.29, 0.88);
    transition: all 0.45s cubic-bezier(0.36, 1.64, 0.29, 0.88);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    bottom: 0;
}
.charts_inner__options .chart_item .cube_inner div {
    position: absolute;
    width: 100px;
    height: 100px;
    background: white;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.charts_inner__options .chart_item .cube_inner div.cube_front {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dcedff), to(rgba(29, 88, 136, 0)));
    background-image: linear-gradient(to bottom, #dcedff 0%, rgba(29, 88, 136, 0) 100%);
}
.charts_inner__options .chart_item .cube_inner div.cube_back {
    -webkit-transform: translateZ(-50px);
    transform: translateZ(-50px);
}
.charts_inner__options .chart_item .cube_inner div.cube_left {
    -webkit-transform: rotateY(90deg) translateZ(-50px);
    transform: rotateY(90deg) translateZ(-50px);
    background-color: #fafafa;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c4d7ea), to(rgba(29, 88, 136, 0)));
    background-image: linear-gradient(to bottom, #c4d7ea 0%, rgba(29, 88, 136, 0) 100%);
}
.charts_inner__options .chart_item .cube_inner div.cube_right {
    -webkit-transform: rotateY(90deg) translateZ(50px);
    transform: rotateY(90deg) translateZ(50px);
    background-color: #fafafa;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c4d7ea), to(rgba(29, 88, 136, 0)));
    background-image: linear-gradient(to bottom, #c4d7ea 0%, rgba(29, 88, 136, 0) 100%);
}
.charts_inner__options .chart_item .cube_inner div.cube_top {
    -webkit-transform: rotateX(90deg) translateZ(50px);
    transform: rotateX(90deg) translateZ(50px);
    background-color: whitesmoke;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dcedff), to(rgba(29, 88, 136, 0)));
    background-image: linear-gradient(to bottom, #dcedff 0%, rgba(29, 88, 136, 0) 100%);
}
.charts_inner__options .chart_item .cube_inner div.cube_bottom {
    -webkit-transform: rotateX(90deg) translateZ(-50px);
    transform: rotateX(90deg) translateZ(-50px);
    background-color: whitesmoke;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dcedff), to(rgba(29, 88, 136, 0)));
    background-image: linear-gradient(to bottom, #dcedff 0%, rgba(29, 88, 136, 0) 100%);
}
.charts_inner__options .chart_item .cube div.cube_shadow {
    background-color: rgba(0, 0, 0, 0.36);
    position: absolute;
    box-shadow: 0px 0px 50px 24px rgba(0, 0, 0, 0.36);
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    width: 40px;
    z-index: -1;
}
